# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env*.local

# vercel
.vercel

# local runtime artifacts
/workspaces/
/generated/
tsconfig.tsbuildinfo
package-lock.json

.vercel
